@use "../../styles/partials/mixins" as mixins;

.cta-btn {
    background-color: #008B8B;
    color: #FFF;
    height: 4rem;
    border-radius: 30px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    width: 20rem;
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: uppercase;
    transition: background-color 250ms linear;
    font-weight: bold;

    &:hover {
        background-color: #0a6d6d;
    }
}