@use "../../styles/partials/mixins" as mixins;

.cta-btn {
    background-color: #008B8B;
    color: #FFF;
    height: 4rem;
    border-radius: 30px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    width: 20rem;
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: uppercase;
    transition: background-color 250ms linear;

    &:hover {
        background-color: #085a5a;
    }

    // @include mixins.tablet {
    //     min-width: 15rem;
    //     padding: 0 3.2rem;
    //     width: auto;
    // }
}