@use "../../styles/partials/mixins" as mixins;

.cta-btn {
    background-color: #008B8B;
    color: #FFF;
    height: 4.3rem;
    border-radius: 26px;
    border: 0;
    cursor: pointer;
    width: 20rem;
    font-size: 1.8rem;
    line-height: 2rem;
    transition: background-color 250ms linear;


    &:hover {
        background-color: #0a6d6d;
    }
}