@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

@mixin wrapper {
    height: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    @include tablet {
        padding: 0 3.6rem;
    }

    @include desktop {
        margin: 0 auto;
        width: 128rem;
    }
}

@mixin pageHeader {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;

    @include tablet {
        margin-bottom: 2.4rem;
        font-size: 3.3rem;
        line-height: 4.4rem;
    }
}

@mixin sectionHeader {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
    padding-bottom: 1.6rem;
}

@mixin subheader {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 600;

    @include tablet {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
}

@mixin text {
    font-size: 1.3rem;
    line-height: 1.8rem;

    @include tablet {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
}

@mixin text-label {
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-family: inherit;
    color: #AFAFAF;
    font-weight: 700;
}

@mixin section-spacing {
    padding-top: 2.4rem;
    padding-bottom: 1.6rem;

    @include tablet {
        padding-top: 3.6rem;
        padding-bottom: 2.4rem;
    }
}

@mixin btn-icon($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: 8px 8px;
}