@use "../../styles/partials/mixins" as mixins;

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7rem;
  border-top: 2px solid black;
  background-color: #fff;

  &__wrapper {
    @include mixins.wrapper;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
  }

  &__item {
    font-size: 3rem;
    display: block;
    cursor: pointer;
  }
}