.success {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }

  &__icon-container {
    margin: 0 auto;
  }

  &__text {
    text-align: center;
  }

  &__tick-icon {
    width: 30rem;
  }
}
